<html>
<head>
    <title>
        DEMO OF HBS
    </title>
</head>
<body>

<a href="/display">VIEW DATA</a>

<form action="/send" method="POST">
    <input type="text" name="name" placeholder="Enter your name">
    <input type="submit" value="Submit">
</form>

</body>
</html>